.categorias{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2rem 1rem;
}

.categorias-title{
    color: #BB0B60;
    font-size: 3rem;
    font-weight: 700;
}

.categorias-cards{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.categ-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f5f5f5;
    position: relative;
    border: 1px solid #46454536;
    width: calc(33.33% - 4rem);
    margin:5rem 1rem;
    padding:1rem .5rem;
    box-shadow: 2px 5px 10px #424242;
    transition: ease-out .5s;
}
.categ-card:hover{
    border-color: #BB0B60;
    box-shadow: 5px 8px 15px #BB0B60;
  }
.categ-card:hover>.card-img-top{
    transform: translateY(-25%);
    box-shadow: rgba(255, 0, 200, 0.397) 0px 13px 47px -5px, rgba(234, 2, 255, 0.3) 0px 8px 16px -8px;
}
.categ-card:hover>.card-body .card-text{
    color:#a7155b;
    font-size: 1.6rem;
}
.card-img-top{
    width:50%;
    height: 200px;
    padding: .5rem 0;
    border-radius: 50%;
    transition: .3s ease;
}

.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}


.card-text{
    font-size: 1.5rem;
    font-weight: 700;
    padding: 2rem 1rem;
    
}

.cssbuttons-io-button {
    background: #BB0B60;
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #a7155b;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
   }
   
   .cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #BB0B60;
    right: 0.3em;
    transition: all 0.3s;
   }
   
   .cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
   }
   
   .cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #BB0B60;
   }
   
   .cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
   }
   
   .cssbuttons-io-button:active .icon {
    transform: scale(0.95);
   }
