.footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background-image: url(../img/background-footer.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 5rem;
    height: 300px;

  }
  .nav-contenido{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 30px;
  }
  .wrapper {
    display: inline-flex;
    list-style: none;
    padding: 1rem 0; 
    height: 100px;
    width: 100%;
    justify-content: center;
    position: relative;
    top: 30px;
  }
  
  .wrapper .icon {
    position: relative;
    background: #fff;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #fff;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #fff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  .wrapper .facebook {
    background-image: url(../img/facebook.png) !important;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .wrapper .twitter{
    background-image: url(../img/twitter.png) !important;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .wrapper .instagram{
    background-image: url(../img/instagram.png) !important;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .icon:hover{
    width: 55px;
    height: 55px;
  }
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  
  .wrapper .facebook:hover,
  .wrapper .facebook:hover .tooltip,
  .wrapper .facebook:hover .tooltip::before {
    background-color: #1DA1F2;
    color: #fff;
  }
  
  .wrapper .twitter:hover,
  .wrapper .twitter:hover .tooltip,
  .wrapper .twitter:hover .tooltip::before {
    background-color: #1DA1F2;
    color: #fff;
  }
  
  .wrapper .instagram:hover,
  .wrapper .instagram:hover .tooltip,
  .wrapper .instagram:hover .tooltip::before {
    background-color: #E4405F;
    color: #fff;
  }
  