.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 150px;
    padding: 1rem 0;
    background-image: url(../img/background-header.svg);
    background-size: cover;
    background-color: #BB0B60;
  }
  
  .header-contenido{
    display: flex;
    align-items: center;
  }
  .contenido-img{
    width: 100px;
    height: 100px;
  }
  .contenido-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .info-title{
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    text-shadow: 3px 5px 10px #424242;
  }
  .info-slogan{
    color: #fff;
  }
  .nav-link{
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    text-shadow: 3px 5px 10px #424242;
    transition: ease-out .5s;
    padding: .5rem 1rem;
    border-radius: 5px;
  }
  .nav-link:hover , .nav-link:focus{
    font-size: 1.3rem;
    text-decoration: underline;
    color: #BB0B60;
    background-color: #ffffff;
  
  }

