.d-block{
    height: 600px;
  }
  .inicio-bienvenida{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2rem 1rem;
  }
  .bienvenida-title{
    font-size: 3rem;
    font-weight: 700;
    color: #BB0B60;
    padding: .5rem 0;
  }
  .bienvenida-descripcion{
    font-size: 1.2rem;
    padding: 1.5rem 0;
    color: #424242;
  }
  .bienvenida-btn{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #BB0B60;
    border: 1px solid #BB0B60;
    padding: 1rem 1.2rem;
    transition: ease-out .5s;
    cursor: pointer;
  }
  .bienvenida-btn:hover{
    background-color: #BB0B60;
    color: #fff;
  }