.productos{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2rem 1rem;
  }
  .productos-title{
    color: #BB0B60;
    font-size: 3rem;
    font-weight: 700;
  }
  .productos-cards{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
  }
  
  .productos-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #f5f5f5;
    position: relative;
    width: calc(33.33% - 4rem);
    margin:3rem 1rem;
    padding:1rem .5rem;
    box-shadow: 2px 5px 10px #ffffff;
    transition: ease-out .5s;
    overflow: visible;
    border: 1px solid #46454536;
  }
  .productos-card:hover{
    border-color: #BB0B60;
    box-shadow: 5px 8px 15px #BB0B60;
  }
  .productos-card:hover>.card-img{
    transform: translateY(-25%);
    box-shadow: rgba(255, 0, 200, 0.397) 0px 13px 47px -5px, rgba(234, 2, 255, 0.3) 0px 8px 16px -8px;
  }
  .productos-card:hover>.card-info .card-titulo{
    color: #BB0B60;
  }
  .card-img{
    width: 70%;
    height: 210px;
    padding: .5rem 0;
    border-radius: 50%;
    transition: .3s ease;
  }
  
  .card-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
  }
  .card-titulo{
    font-size: 1.5rem;
    font-weight: 700;
    padding-bottom: .2rem;
    text-align: center;

  }
  
  .card-proveedor{
    font-size: .9rem;
    opacity: .7;
  }
  .card-categoria{
    font-size: .7rem;
    opacity: .7;
  }
  .card-descripcion{
    padding: 1rem .3rem;
    text-align: center;
    font-size: .85rem;
    line-height: 1.1rem;
  }
  .card-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:.8rem 0 0 .5rem;

    border-top: 1px solid #ddd;
  }
  .card-precio{
    font-size: 1.5rem;
    color: #BB0B60;
    font-weight: 700;
    padding: .5rem 0;
  }
  .compra-cantidad{
    width: 40px;
    height: 34px;
    font-size: 1rem;
    text-align: center;
  }
  .compra-cantidad::-webkit-inner-spin-button {
    opacity: 1;
  }
  .card-button {
    border: 1px solid #252525;
    display: flex;
    align-items: center;
    padding: .4rem .6rem;
    cursor: pointer;
    border-radius: 50px;
    transition: .3s ease-in-out;
  }
  .card-button:hover {
    border: 1px solid #BB0B60;
    background-color: #BB0B60;
  }
  .compra-btn{
    text-decoration: none;
    font-weight: 700;
    padding: .5rem 1rem;
    color: #fff;
    border: 1px solid #BB0B60;
    background-color: #BB0B60;
    transition: ease-out .5s;
    cursor: pointer;
    border-radius: 10px;
  }
  .card-button:hover >.compra-btn{
    background-color: #fff;
    color: #BB0B60;
  }
  svg {
    width: 20px;
    height: 20px;
  }
  .card-stock{
    font-size: 1rem;
    opacity: .7;
    font-weight:700;
  }