.proveedores{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    padding: 2rem 1rem;
}
.proveedores-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #f5f5f5;
    position: relative;
    width: calc(25% - 4rem);
    margin:3rem 1rem;
    padding:1rem .5rem;
    box-shadow: 2px 5px 10px #ffffff;
    transition: ease-out .5s;
    overflow: visible;
    border: 1px solid #46454536;
}
.proveedores-card:hover{
    border-color: #BB0B60;
    box-shadow: 5px 8px 15px #BB0B60;
  }
.proveedores-card:hover>.card-img{
    transform: translateY(-25%);
    box-shadow: rgba(255, 0, 200, 0.397) 0px 13px 47px -5px, rgba(234, 2, 255, 0.3) 0px 8px 16px -8px;
  }
.proveedores-card:hover>.card-contenido .contenido-informacion .informacion-title{
    color: #BB0B60;
}
.card-contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contenido-informacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem 0;
}
.informacion-title{
    font-size: 1.2rem;
    font-weight: 700;
    padding: .3rem;
    color: #424242;
}
    
