@media screen and (max-width:767px) {
    .productos-card{
        width: calc(100% - 4rem);
    }
    .footer{
        flex-direction: column;
      }
      .wrapper{
        top: 0;
      }
      .header{
        flex-direction: column;
      }
      .nav{
        align-items: center;
        justify-content: center;
      }
      .nav-link{
        font-size: 1rem;
    }
    .categ-card{
        width: calc(100% - 4rem);
    }
    .proveedores-card{
        width: calc(100% - 4rem);
    }
    .card-img{
        border-radius: 5px;
    }
}
@media screen and (min-width:768px) {
    @media screen and (max-width:1200px) {
        .productos-card{
            width: calc(50% - 4rem);
        }
        .header{
            flex-direction: column;
          }
          .nav{
            align-items: center;
            justify-content: center;
          }
          .categ-card{
            width: calc(50% - 4rem);
        }
        .proveedores-card{
            width: calc(50% - 4rem);
        }
    }
    
}
  

